html{
	font-family: 'Luckiest Guy', cursive;
	font-size: 2.6vw;
	width:100%;

}
#container{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

body{
	background-color: #80ccdd;
	overflow: hidden;
}

#bg{
	width: 100%;
}

p{
	pointer-events: none;
	position: absolute;
}

.icon{
	position: absolute;
	-webkit-transition: all .2s ease-in-out;
}

.icon:hover{
	-webkit-transform: scale(1.2);
}

#modal{
    width: 89%;
    height: 98%;
    position: absolute;
    top: 0;
	z-index: 100;
}

#closemodal{
	position: absolute;
	top: 0%;
	left: 0%;
	cursor: pointer;
	width: 16%;
}
#closemodal>img{
	width:100%;
}
#closemodal>p{
	color: #adc136;
	position: absolute;
	top: 30%;
	left: 40%;
}
#modal>p{
	position: absolute;
	top: 15%;
	left: 30%;
	pointer-events: auto;
}
#scroll{
	width: 73%;
	position: absolute;
	top: 1%;
	left: 16%;
}

.clouds{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.noover{
	overflow: hidden;
	height: 653px;
}
.hide{
	opacity: 0 !important;
	z-index: -1 !important;
	display: none;
}



/* ----- Book + Modal ----- */
#book{
    position: absolute;
    top: -4%;
    left: 77%;
    width: 15%;
    z-index: 2
}
#modal_book{
    width: 89%;
    height: 98%;
    position: absolute;
    top: 0;
	z-index: 100;
}
#modal_book>p{
	position: absolute;
	top: 8%;
	left: 20%;
	pointer-events: auto;
}
#modal_book_open{
    position: absolute;
    top: 0;
    left: 2%;
    width: 97%;
}
#modal_book_close{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 16%;
	cursor: pointer;
}
#modal_book_close>img{
	width:100%;
}
#modal_book_close>p{
	color: #adc136;
	position: absolute;
	top: 30%;
	left: 40%;
}

/* ----- Entrance ----- */
#entrance{
	top: 42%;
	left: 39.5%;
	width: 34%;
}
.entrance_text{
	top: 69%;
	left: 49%;
	color: #BE28BE;
}

/* ----- Booze ----- */
#booze{
	top: 24%;
	left: 15%;
	width: 27%;
}
.booze_text{
	top: 40%;
	left: 36%;
	color: #F90;
}

/* ----- Stage ----- */
#stage{
	top: 13%;
	left: 66%;
	width: 30%;
}
.stage_text{
	top: 33%;
	left: 67%;
	color: #D80000;
}

/* ----- Camping ----- */
#tent1{
	top: 0.05%;
	left: 15%;
	width: 15%;
}
#tent2{
	top: 4%;
	left: 26%;
	width: 15%;
}
.camping_text{
	top: 19%;
	left: 27%;
	color: #3DB2FF;
}

/* ----- Event Name ----- */
#milennium{
	top: 77%;
	left: 11.5%;
}

/* ----- General ----- */
.stroked{
   -webkit-text-stroke-width: 15px;
   -webkit-text-stroke-color: white;
}

.slideInLeft{
    -webkit-animation: slideInLeft 3s;
    -webkit-transform: translate3d(0,0,0);
}

.slideInRight{
    -webkit-animation: slideInRight 3s;
    -webkit-transform: translate3d(0,0,0);
}
@-webkit-keyframes slideInLeft{
    0%   {opacity: 0.0;left: -100%;z-index: 99;}
    100%   {opacity: 1.0;left: 0;}

}

@-webkit-keyframes slideInRight{
    0%   {opacity: 0.0;left: 100%;z-index: 99;}
    100%   {opacity: 1.0;left: 0;}
}
